.project
.classpath
.settings/.jsdtscope
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
.settings/org.eclipse.wst.validation.prefs
*.class
MANIFEST.MF
pom.properties
*.lst
target/tomcat/conf/logging.properties
target/tomcat/conf/tomcat-users.xml
target/tomcat/conf/web.xml
target/tomcat/logs/access_log.2018-11-30
login_jsp.java
